body {
  background-color: #ffede1;
  min-width: max-content;
}

.main-page-wrapper {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/057/374/original/background-carrot.jpg?1670589923");
  background-size: cover;
  border: 1px solid #fbc6a2;
  border-radius: 10px;
  margin-top: 25px;
}
.title {
  background-color: #fead53;
  text-align: center;
  margin: 30px;
  border-radius: 10px;
}
.leka-tiny {
  max-width: 250px;
  margin-left: 650px;
  position: relative;
}
.titre {
  font-size: 50px;
  font-family: "Luckiest Guy", cursive;
  color: #ffede1;
  position: absolute;
  padding: 28px;
}
.tiny {
  max-width: 350px;
  margin-left: 850px;
}
.main-text {
  margin-left: 35px;
}
.bild-size {
  max-width: 200px;
}
.main-text {
  font-size: 30px;
  font-family: "Rancho", cursive;
}
.question {
  font-size: 30px;
  font-family: "Rancho", cursive;
  margin-left: 70px;
  margin-top: 55px;
}
.form-name {
  margin-left: 70px;
  margin-top: 15px;
}
.story-pictures {
  max-width: 500px;
  margin-top: 30px;
  border-radius: 5px;
}
.story-container {
  position: relative;
}
.text-block {
  position: absolute;
  background: rgba(148, 192, 226, 0.7);
  border-radius: 5px;
  padding: 10px;

  color: white;
}
.page1 {
  background: #786b5f;
  bottom: 360px;
  left: 160px;
  text-align: center;
}
.page2 {
  background: none;
  bottom: 290px;
  left: 105px;
  text-align: left;
  font-size: 15px;
}
.page3 {
  bottom: 256px;
  left: 185px;
  text-align: left;
  font-size: 15px;
}
.page4 {
  bottom: 270px;
  left: 105px;
  text-align: left;
  font-size: 15px;
}
.page5 {
  background: rgba(226, 234, 167, 0.7);
  bottom: 280px;
  left: 130px;
  text-align: left;
  font-size: 15px;
  color: black;
}
.page6 {
  background: rgba(226, 234, 167, 0.7);
  bottom: 295px;
  left: 130px;
  text-align: left;
  font-size: 12px;
  color: black;
}
.time-data {
  position: absolute;
  background: none;
  bottom: 275px;
  left: 140px;
  text-align: left;
  font-size: 16px;
  color: black;
  font-family: "Orbitron", sans-serif;
}
